route:
  receiver: "default"
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 4h

receivers:
  - name: "default"
    webhook_configs:
      - url: "http://127.0.0.1:9999/alert-placeholder"
        send_resolved: true
